@import "../../variable";

.navbar-toggle {
  position: relative;
  float: right;
  padding: 0;
  background-color: transparent;
  border-radius: 4px;
  width: 50px;
  border: solid 1px $fluorescent-color;
  font-size: 25px;
}

.navbar-toggle i {
  color: $fluorescent-color;
}

.mobLogoImg {
  width: 50px;
  border-radius: 100%;
  margin-top: -5px;
}
.mobLogoCaption {
  font-size: 12px;
  color: $fluorescent-color;
  font-weight: bold;
  transform: rotate(270deg);
  transition: transform 2s;
  position: absolute;
  left: -15px;
  top: 20px;
}

.slideup,
.slidedown {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 0.2s ease-in-out;
  -moz-transition: max-height 0.2s ease-in-out;
  -o-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}
.slidedown {
  max-height: 300px;
  overflow: hidden;
}
.pt-2 {
  line-height: 3;
}
.contactLabel {
  color: #b5c740;
  small {
    font-size: 10px;
  }
}
@mixin slide {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
}
.dToggleIcon {
  position: absolute;
  padding: 14px;
  cursor: pointer;
  font-size: 23px;
  opacity: 0.8;
  @include slide;
  z-index: 11;
  &:before {
    color: $fluorescent-color;
  }
  &.higlight {
    // background: #000;
  }
  &.collapsed {
    right: calc(100% - 50px);
    width: 50px;
    height: 50px;
    margin-top: 5px;
    &:before {
      background: #222;
      border-radius: 50%;
      padding: 5px;
    }
  }
  &.open {
    right: calc(100% - 260px);
  }
}
.slideRight {
  @include slide;
}
.wrapper {
  position: relative;
  @include slide;
  &.toggleOn {
    padding-left: 0;
    top: 3px;
  }
  &.toggleOff {
    top: 3px;
    padding-left: 260px;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .wrapper {
    @include slide;
    &.toggleOn {
      padding-left: 0;
    }
    &.toggleOff {
      padding-left: 260px;
    }
  }
}
@media print {
  .print-visible {
    display: block !important;
  }
  .wrapper.toggleOff {
    padding-left: 0;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .wrapper {
    &.toggleOff {
      padding-left: 0;
      top: 0px;
    }
  }
}
.menu-social {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #000;
  .designedBy {
    color: $fluorescent-color;
    font-size: 0.9rem;
    padding-top: 1rem;
  }
  ul {
    li {
      padding-left: 0;
      display: inline-block;
      &.google {
        background: transparent;
        position: relative;
        top: 5px;
        button {
          border-radius: 50% !important;
          background: transparent;
          width: 40px;
          height: 40px;
          outline: 0;
          display: inline-block !important;
          div {
            background: transparent !important;
          }
        }
      }
    }
  }
}
.modal-backdrop {
  opacity: 0.8;
}
.modal-content {
  background: transparent;
  // box-shadow: 0 0 20px 0 $fluorescent-color;
  border: 0;
  .modal-header {
    display: flex;
    background: $fluorescent-color;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: none;
    .modal-title {
      width: 99%;
      font-size: 14px;
      font-weight: 500;
    }
  }
  .modal-body {
    position: relative;
    border-left: solid 5px $fluorescent-color;
    border-right: solid 5px $fluorescent-color;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom: solid 5px $fluorescent-color;
    // background: #000;
    .head {
      color: #888;
    }
    label {
      font-weight: 300;
      font-size: 12px;
      color: $fluorescent-color;
    }
    .card {
      .card-header {
        .btn {
          padding: 13px 15px;
        }
      }
      &:last-child {
        .card-header {
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }
    }
    textarea.form-control {
      resize: none;
    }
    .renderElementSection {
      margin: 0 auto;
    }
    .passwordArea {
      position: relative;
      i {
        position: absolute;
        right: 9px;
        top: 10px;
        color: $black-color;
        cursor: pointer;
        &.good {
          color: $fluorescent-color;
        }
        &.bad {
          color: $red-color;
        }
      }
    }
    .viewMessages {
      display: grid;
      grid-template-columns: repeat(3, auto);
    }
  }
}
.audio {
  display: none;
}
.error {
  font-size: 1rem;
  color: #fa3b3b;
  font-weight: 500;
  letter-spacing: 1px;
}
.success {
  font-size: 1rem;
  color: green;
  font-weight: 500;
  letter-spacing: 1px;
}
.login-loader {
  margin: 0 auto;
  text-align: center;
  margin: 3rem 0;
}
$fontFamily: Verdana, Arial, Helvetica, sans-serif;
.resumeContainer {
  // font-family: $fontFamily;
  .printerIcon {
    text-align: right;
    span {
      border-radius: 5px;
      padding: 3px 6px;
      background: #000;
      cursor: pointer;
      color: #b2c823;
      opacity: 0.8;
      font-size: 12px;
    }
  }
  .wrap {
    display: inline-block;
    word-break: break-word;
  }
  color: #000;
  background: #fff;
  padding: 1rem 2rem;
  .borderedDiv {
    border-bottom: solid 1px #ddd;
    &.thick {
      border-bottom: solid 2px #000;
    }
    &.wallToWall {
      margin-left: -3rem;
      margin-right: -3rem;
    }
  }
  .topicHeading {
    font-weight: bold;
  }
  .google-mobile {
    button {
      border-radius: 50% !important;
      outline: 0;
      div {
        border-radius: 50% !important;
        width: 50px;
        height: 50px;
      }
    }
  }
  /* Landscape tablets and medium desktops */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
  }
  /* Portrait tablets and small desktops */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .t-text-left {
      text-align: left;
    }
    .t-text-right {
      text-align: right;
    }
    .t-text-center {
      text-align: center;
    }
    .footer-grid {
      grid-template-columns: auto auto !important;
    }
  }
  /* Landscape phones and portrait phones */
  @media only screen and (max-width: 767px) {
    .m-text-left {
      text-align: left;
    }
    .m-text-right {
      text-align: right;
    }
    .m-text-center {
      text-align: center;
    }
    .footer-grid {
      grid-template-columns: auto auto !important;
    }
    @for $i from 1 through 12 {
      .#{"equal-grid"}-#{$i} {
        grid-template-columns: auto;
      }
    }
  }
}
