@import "../../variable";

.settings {
  .nav {
    border-bottom: 0;
    .nav-link {
      padding: 1rem 0 0 0;
      text-align: center;
      transition: 0.5s;
      display: block;
      outline: 0;
      line-height: 3;
      &:hover,
      &:active,
      &:focus {
        color: #fff;
      }
      &.active {
        &:after {
          border-bottom: solid 1px $fluorescent-color;
          width: 100%;
        }
      }
      &:after {
        content: "";
        display: block;
        width: 0%;
        border-bottom: solid 1px $fluorescent-color;
        transition: 0.5s;
      }
    }
  }
}
