/**
* Application: react-responsive-ajax-data-table
* Author: Bharani Palani
* Email: tp.bharani@gmail.com
* Documentation: https://bharani.tech/reactApplications/react-responsive-ajax-data-table
**/
@import "../../../mixins.scss";
$success: #40bd40;
$error: #f33333;
$warning: #f5f574;
$black: #000;
$black-one: #111;
$light-black: #222;
$white: #fff;
$disabled-grey: #696969;
$light-white: #dddddd;
$light-grey: #aaaaaa;
$search-container-height: 30px;
$row-even: #fff;
$row-odd: #eee;
$max-columns: 100;
$dim-white-color: #f3f3f3;

$defaultBackgroundColor: var(--app-theme-bg-color);
$defaultColor: var(--app-theme-color);

.react-responsive-ajax-data-table {
  .biGrid {
    display: grid;
    word-wrap: break-word;
    word-break: break-all;
    grid-template-columns: 80% 20%;
    grid-column-gap: 1px;

    @include view-mobile {
      grid-template-columns: 45% 55%;
    }

    @include view-tablet-landscape {
      grid-template-columns: 70% 30%;
    }

    @include view-tablet-potrait {
      grid-template-columns: 50% 50%;
    }

    align-items: center;

    .heading {
      padding: 0.15rem 0.5rem;
      border-radius: 5px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $defaultColor;
      background: $defaultBackgroundColor;

      @include view-mobile {
        display: block;
      }
    }
  }

  .grid-responsive {
    min-height: 0.01%;
    overflow-x: auto;
    overflow-y: auto;

    .grid-container {
      margin-bottom: 1.5rem;
    }

    .responsive-grid {
      display: grid;
      word-wrap: break-word;
      word-break: break-all;
      row-gap: 0.5rem;
      column-gap: 0.5rem;
      align-items: center;
      padding: 0 0.5rem;
    }

    .header {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      text-align: center;
      padding: 0.5rem 0;
    }
  }

  .group-input {
    display: grid;
    grid-template-columns: 75% 25%;
    user-select: none;
    position: relative;

    @include view-tablet-landscape {
      grid-template-columns: 70% 30%;
    }

    @include view-tablet-potrait {
      grid-template-columns: 70% 30%;
    }

    @include view-mobile {
      grid-template-columns: 65% 35%;
    }

    .inputWrapper {
      position: relative;

      .join-input {
        border: 0;
        padding: 0 25px 3px 10px;
        z-index: 1;
        height: $search-container-height;
        outline: 0;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        width: 100%;
        -webkit-appearance: none;
        &::placeholder {
          font-size: 12px;
        }
        &::-ms-input-placeholder {
          font-size: 12px;
        }
        &.dark {
          border: solid 1px $black;
          background: transparent;
          color: $white;
        }
        &.light {
          border: solid 1px $light-white;
          background: transparent;
          color: $black;
        }
      }

      .dismiss {
        position: absolute;
        top: 5px;
        right: 0;
        color: $light-grey;
        cursor: pointer;

        &:hover {
          color: $disabled-grey;
        }
      }
    }

    .join-select {
      color: $black;
      position: relative;
      width: 100%;

      .selected {
        background: $defaultBackgroundColor;
        color: $defaultColor;
        padding: 3px;
        height: $search-container-height;
        cursor: pointer;
        position: relative;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        text-align: center;

        .icon {
          font-size: 1.5rem;
          float: right;
          position: relative;
          color: $defaultColor;

          &.up {
            top: 2px;
          }
        }
      }

      ul {
        list-style-type: none;
        padding-left: 0px;
        position: absolute;
        width: inherit;
        z-index: 1;

        li {
          cursor: pointer;
          padding: 0.25rem 0.2rem;

          &:nth-child(even) {
            background: $row-even;
          }

          &:nth-child(odd) {
            background: $row-odd;
          }

          &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
      }
    }
  }

  .footer {
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 1rem;

    .page {
      list-style-type: none;
      display: flex;
      margin: 0;
      margin-bottom: 1rem;
      padding-left: 0;
      user-select: none;
      justify-content: center;
      width: 100%;
      column-gap: 5px;

      li {
        color: $defaultColor;
        background: $defaultBackgroundColor;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        cursor: pointer;
        line-height: 30px;
        display: inline-block;
        font-size: 12px;

        &.active {
          color: $defaultBackgroundColor;
          background: $defaultColor;
          border: solid 2px $defaultBackgroundColor;
          line-height: 26px;
        }

        &.lt,
        &.gt {
          &.disabled {
            cursor: not-allowed;
            color: $disabled-grey;
            opacity: 0.5;
          }
        }
      }
    }
  }

  .totalColumn {
    border-bottom: double 3px;
    border-top: solid 1px;
    margin-top: 1rem;
    font-size: 13px;
    padding: 5px 0;

    @include view-mobile {
      padding-left: 0;
      border-top: 0;
      margin-top: 0;
    }
  }

  .radioComponent {
    $start: 1;
    $end: 10;
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, auto);
    text-align: center;
    align-items: center;

    .radioWrapper {
      display: block;
      position: relative;
      padding: 0 0 0 2.5rem;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      line-height: 1.2;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        margin-left: -20px;
        margin-top: 3px;
        z-index: 1;

        &:checked {
          ~ {
            .checkmark {
              &:after {
                display: block;
              }
            }
          }
        }
      }

      &:hover {
        input {
          ~ {
            .checkmark {
              opacity: 0.9;
            }
          }
        }
      }

      .checkmark {
        &:after {
          top: 3px;
          left: 3px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: $defaultColor;
        }
      }

      label {
        font-weight: 500;
        cursor: pointer;
      }
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      border: 0;

      &:after {
        content: "";
        position: absolute;
        display: none;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .capitalize {
    text-transform: capitalize;
  }

  .errorWrapper {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--app-theme-bg-color);
    }

    ol {
      padding-left: 2rem;
      color: $disabled-grey;
    }
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
  }

  .htmlIcon {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: $black;
    display: inline-block;
    line-height: 18px;
    cursor: pointer;
    text-align: center;
    user-select: none;
    font-size: 1rem;
    &.rotate {
      animation: rotation 2s infinite linear;
      font-size: 2.5rem;
    }

    &.default {
      color: inherit;
    }

    &.success {
      background: $success;
    }

    &.error {
      background: $error;
    }

    &.warning {
      background: $warning;
    }

    &.tilt-45 {
      transform: rotate(45deg);
    }
  }

  .filterSelectComponent {
    position: relative;
    user-select: none;
    &.light {
      color: $light-black;
      .selected {
        background: $white;
        border: solid 1px $light-white;
      }
      .caretIcon {
        color: $black;
      }
      .inputText {
        color: $black;
        background: $white;
      }
      .searchContent {
        border-left: solid 1px $light-white;
        border-right: solid 1px $light-white;
      }
      .wrapper {
        border-top: solid 1px $light-white;
      }
      .listWrapper {
        color: $black;
        border: solid 1px $light-white;
        background: $white;
      }
    }
    &.dark {
      color: $white;
      .selected {
        background: transparent;
        border: solid 1px $black-one;
      }
      .caretIcon {
        color: $white;
      }
      .inputText {
        color: $white;
        background: $light-black;
      }
      .searchContent {
        border-left: solid 1px $black-one;
        border-right: solid 1px $black-one;
      }
      .wrapper {
        border-top: solid 1px $black-one;
      }
      .listWrapper {
        color: $white;
        border: solid 1px $black-one;
        background: $light-black;
      }
    }

    .selected {
      display: grid;
      grid-template-columns: auto 20px;
      border-radius: 5px;
      position: relative;
      height: 35px;
      line-height: 35px;
      .string {
        font-size: 0.9rem;
      }

      .caretIcon {
        transition: transform 0.2s ease-in-out;

        &.up {
          transform: rotate(0deg);
        }

        &.down {
          transform: rotate(-90deg);
        }
      }

      .string {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        padding: 0 0.5rem;
        text-align: center;
      }
    }
  }

  .sup {
    color: $error;
    font-size: 15px;
    padding-left: 2px;
  }

  .checkBoxComponent {
    display: block;
    position: relative;
    padding-left: 2.5rem;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      left: 5px;
      z-index: 1;

      &:checked {
        ~ {
          .checkmark {
            &:after {
              display: block;
            }
          }
        }
      }
    }

    .checkmark {
      &:after {
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid $light-black;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    background-color: $defaultBackgroundColor;
    border-radius: 3px;
    border: solid 1px $light-grey;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  // utitlity
  .textCenter {
    text-align: center !important;
  }

  .floatLeft {
    float: left !important;
  }

  .floatRight {
    float: right !important;
  }

  .inputText {
    display: block;
    width: 100%;
    padding: 7px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    outline: 0;
    resize: none;
    border-bottom: 0;
    &.dark {
      color: $white;
      background: transparent;
      border: solid 1px $black-one;
    }
    &.light {
      border: solid 1px $light-white;
      color: $black;
    }
  }

  .visibleMobile,
  .visibleTabletPotrait,
  .visibleTabletLandScape {
    display: none !important;
  }

  @include view-mobile {
    .visibleMobile {
      display: block !important;
    }
  }

  @include view-tablet-potrait {
    .visibleTabletPotrait {
      display: block !important;
    }
  }

  @include view-tablet-landscape {
    .visibleTabletLandScape {
      display: block !important;
    }
  }

  .tooltipContainer {
    position: relative;

    &:hover {
      .tooltips {
        display: block;
      }
    }

    .tooltips {
      display: none;
      position: absolute;
      bottom: 45px;
      left: 10%;
      background: $black;
      border: solid 1px $black;
      color: $white;
      padding: 0.5rem;
      font-size: 1rem;
      word-break: normal;
      user-select: none;
      text-align: center;
      word-break: normal;
      z-index: 1;

      &:after {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0;
        height: 0;
        border-top: 5px solid $black;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
      }
    }
  }

  .dateTimeSelector {
    display: grid;
    justify-content: space-evenly;
    background: $black;
    border: solid 1px $light-black;
    line-height: 2.2;
    text-align: center;
    border-radius: 5px;

    &.date {
      grid-template-columns: repeat(5, auto);
    }

    &.dateTime {
      // grid-template-columns: 15% 1% 5% 1% 10% 5% 1% 5% 1% 5%;
      grid-template-columns: repeat(11, auto);
    }

    .selected {
      cursor: pointer;
      white-space: nowrap;
    }

    .dateTimeDropDown {
      position: relative;
      user-select: none;

      .placeHolder {
        cursor: pointer;
        white-space: nowrap;
        display: block;
      }

      .options {
        position: absolute;
        z-index: 1;
        background: $black;
        list-style: none;
        padding: 0;
        border: solid 1px $light-black;
        border-top: 0;
        max-height: 20rem;
        left: -7px;
        overflow-y: scroll;
        white-space: nowrap;

        li {
          cursor: pointer;
          text-align: center;

          &.checked {
            background: var(--app-theme-bg-color);
            color: var(--app-theme-color);
          }

          .labelValue {
            padding: 0 0.5rem;
            display: block;
          }
        }
      }
    }
  }

  .react-datetime-picker {
    cursor: pointer;

    .react-datetime-picker__wrapper {
      border: 0;

      .react-datetime-picker__inputGroup__input {
        color: #888;
        height: calc(100% - 1px);
      }

      .react-datetime-picker__inputGroup__leadingZero {
        color: #888;
      }

      .react-datetime-picker__inputGroup__divider {
        color: #888;
      }

      .react-datetime-picker__button {
        svg {
          stroke: $defaultBackgroundColor;
        }
      }
    }
  }
}
.wrapperFS {
  top: 1px !important;
  z-index: 1;
  width: 100%;
  border-radius: 5px;
  opacity: 1;
  color: $black;
  padding: 0;
  z-index: 9999;
  &.dark {
    background: $light-black;
    color: $white;
    border: solid 1px $black;
    .inputText {
      background: $light-black;
      color: $white;
    }
  }
  &.light {
    background: $white;
    color: $light-black;
    border: solid 1px $light-white;
    .inputText {
      background: $white;
      color: $black;
    }
  }

  .searchContent {
    .inputText {
      border-radius: 0;
      border: 0;
      box-shadow: none;
      outline: 0;
      padding: 5px;
      margin: 1px;
    }
    .icon {
      cursor: pointer;
      color: $light-grey;
      font-size: 0.75rem;
    }
  }

  .listWrapper {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    // padding: 5px 0px 5px 5px;

    .selectedSingle {
      background: $defaultBackgroundColor;
      color: $defaultColor;
      box-shadow: 0px 0px 10px $black;
    }

    ul {
      padding-left: 0;
      list-style: none;
      max-height: 10rem;
      overflow-y: auto;
      overflow-x: hidden;
      margin-bottom: 0;

      li {
        cursor: pointer;
        padding: 0.25rem;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}
