@import "../../../variable";
.userContainer {
	display: grid;
	grid-template-columns: auto auto !important;
	z-index: 1;
	opacity: .8;
	position: absolute;
	width: calc(100% - 260px);
	// background: $black-color;
	.leftMenu {
		display: flex;
		.welcomeText {
			margin: auto 0;
			color: $fluorescent-color;
			overflow-x: hidden;
			max-height: 50px;
		}
		.userImage {
			width: 45px;
			height: 45px;
			cursor: pointer;
		}
	}
	.rightMenu {
		color: $fluorescent-color;
		margin: 3px 0;
		@media only screen and (max-width: 767px) {
			.signOut {
				margin-right: 15px;
			}
		}
	}
	&.toggleOff {
		.leftMenu {
			// padding-left: 5px;
		}
	}
	&.toggleOn {
		width: 100%;
		.leftMenu {
			// padding-left: 50px;
		}
	}
	// mobile
	@media only screen and (max-width: 767px) {
		width: 100% !important;
		padding: 0;
		top: 0;
		.rightMenu {
			.signOut {
			}
		}
		.leftMenu {
			.welcomeText {
				padding-left: 0;
			}
		}
	}
	// landscape
	@media (min-width: 992px) and (max-width: 1199px) {
	}
	// portrait
	@media (min-width: 768px) and (max-width: 991px) {
		top: 4px;
	}
}
