@font-face {
  font-family: AbelRegular;
  // Ledgerely font
  src: url(fonts/Abel-Regular.ttf);
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.icon-bni {
  color: var(--app-theme-bg-color) !important;
  fill: var(--app-theme-bg-color) !important;
}

.bni-bg {
  background: var(--app-theme-bg-color) !important;
}

.bni-text {
  color: var(--app-theme-color) !important;
}

.bni-border {
  border-color: var(--app-theme-bg-color) !important;
  border: solid var(--app-theme-bg-color) !important;

  &-all {
    border-style: solid;
    &-1 {
      border-width: 1px !important;
    }
    &-2 {
      border-width: 2px !important;
    }
    &-3 {
      border-width: 3px !important;
    }
  }
  &-top {
    border-top-style: solid;
    &-1 {
      border-top-width: 1px;
    }
    &-2 {
      border-top-width: 2px;
    }
    &-3 {
      border-top-width: 3px;
    }
  }
  &-left {
    border-left-style: solid;
    &-1 {
      border-left-width: 1px;
    }
    &-2 {
      border-left-width: 2px;
    }
    &-3 {
      border-left-width: 3px;
    }
  }
  &-bottom {
    border-bottom-style: solid;
    &-1 {
      border-bottom-width: 1px;
    }
    &-2 {
      border-bottom-width: 2px;
    }
    &-3 {
      border-bottom-width: 3px;
    }
  }
  &-right {
    border-right-style: solid;
    &-1 {
      border-right-width: 1px;
    }
    &-2 {
      border-right-width: 2px;
    }
    &-3 {
      border-right-width: 3px;
    }
  }
}

.btn-bni {
  background: var(--app-theme-bg-color);
  color: var(--app-theme-color);
  border: solid 1px var(--app-theme-bg-color);
  white-space: nowrap;
  text-overflow: ellipsis;

  // &.btn:hover {
  //   background: var(--app-theme-bg-color);
  //   color: var(--app-theme-color);
  //   opacity: 0.9 !important;
  // }

  &.dark {
    background: $black-color;
    color: var(--app-theme-bg-color);
  }

  &.btn:hover,
  &.active {
    background: $black-five;
    border: solid 1px $black-five;
    color: var(--app-theme-bg-color);
  }
  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
    background-color: var(--app-theme-bg-color);
  }
  &.sm {
    padding: 8px;
    font-weight: 450;
    border-radius: 5px;
  }

  // &.btn-sm {
  //   &:hover,
  //   &:active {
  //     background: var(--app-theme-bg-color);
  //     border: solid 1px var(--app-theme-bg-color);
  //     color: var(--app-theme-color);
  //   }
  // }
}

.x-scroll {
  overflow-x: auto;
}

.y-scroll {
  overflow-y: auto;
}

.max-h-12 {
  max-height: 12rem;
}

.infiniteAnimation {
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: 3;
}

//bni temp end

.hr {
  margin-bottom: 0;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #000000;
}

.brand {
  height: 40px;

  &.global {
    max-width: 200px;
  }

  @include view-mobile {
    // margin-top: 50px;
  }
}

.application-wrapper {
  display: grid;
  grid-template-columns: 100%;
  margin: 4px auto 0 auto;
  opacity: 0.9;

  .application-content {
    display: flex;
    .fixed-content {
      position: fixed;
      z-index: 1;
      width: 100%;
    }

    &.sideMenuLeft {
      flex-direction: row;
    }

    &.sideMenuRight {
      flex-direction: row-reverse;
    }

    &.topMenu {
      .fixed-content {
        height: auto;
        width: 100%;
      }
    }

    &.sideMenuLeft,
    &.sideMenuRight {
      .fixed-content {
        height: 100vh;
        width: 16.67%;
      }
    }

    .wrapper {
      position: relative;
      overflow: hidden;
      display: block;
      @media print {
        width: 100%;
      }
      &.topMenu {
        margin-top: 100px;
        min-height: calc(100vh - 104px);
        @include view-tablet-potrait {
          margin-top: 50px;
        }
        @media (max-width: 768px) {
          margin-top: 50px;
          min-height: calc(100vh - 95px);
        }
      }

      &.sideMenuLeft,
      &.sideMenuRight {
        margin-top: 50px;
        min-height: calc(100vh - 54px);
      }
    }

    .mobile-menu {
      display: none;
    }

    @include view-mobile {
      .mobile-menu {
        display: block;
        background: $black-color;
        width: 100%;
        z-index: 9999;

        .header-menu {
          list-style: none;
          padding-left: 5px;
          min-height: calc(100vh - 100px);

          li {
            padding: 5px 0;

            a {
              text-decoration: none;
            }
          }
        }
      }

      .vertical-header {
        display: none;
      }
    }

    @include view-tablet-potrait {
      .mobile-menu {
        display: none;
      }
    }

    @include view-tablet-landscape {
      .mobile-menu {
        display: none;
      }
    }
  }

  @include view-mobile {
    .application-content {
      flex-direction: column !important;

      .fixed-content {
        width: 100%;
        height: auto;
      }
    }
  }

  @include view-desktop-large {
    &.default {
      grid-template-columns: 100%;
    }

    &.classic {
      grid-template-columns: auto 70% auto;

      .sideMenuLeft {
        .fixed-content {
          width: 11.67%;
        }
      }

      .sideMenuRight {
        .fixed-content {
          width: 11.67%;
        }
      }
    }
  }

  @include view-desktop-x-large {
    &.default {
      grid-template-columns: 100%;
    }

    &.classic {
      grid-template-columns: auto 70% auto;
    }
  }

  // mobile
  @media (max-width: 768px) {
    margin-top: 50px;
  }

  //landscape
  @media (min-width: 992px) and (max-width: 1199px) {
    margin-top: 4px;
  }

  // portrait
  @media (min-width: 768px) and (max-width: 991px) {
    margin-top: 50px;
  }

  //print
  @media print {
    margin-top: 0;
  }
}

.vertical-header {
  li {
    list-style: none;
  }

  @include view-tablet-potrait {
    padding-top: 0;
  }

  &.topMenu {
    height: 50px;
  }

  .vertical-header-wrapper {
    z-index: 10;
    // scroll impacts topmenu
    // overflow: scroll;
    &.sideMenu {
      height: 100%;
      background: transparent;
    }

    &.sideMenuLeft,
    &.sideMenuRight {
      padding-top: 45px;
    }

    .nav-menu {
      display: flex;

      &.sideMenuLeft,
      &.sideMenuRight {
        flex-direction: column;
        padding: 0 15px;
        height: 100vh;
      }

      &.sideMenuRight {
        text-align: right;
      }

      &.topMenu {
        flex-direction: row;
        align-items: center;
        padding-top: 45px;
        @include view-tablet-potrait {
          padding-top: 0;
        }
        .nav-header {
          padding: 5px 10px;
        }

        &.classic {
          @include view-desktop-large {
            width: 70%;
          }
        }
      }

      .nav-header {
        padding: 5px 0;
      }

      .header-menu {
        height: auto;
        overflow: auto;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0px;
        display: flex;
        flex-grow: 1;

        &.sideMenuLeft,
        &.sideMenuRight {
          flex-direction: column;
        }

        &.topMenu {
          flex-direction: row;
          justify-content: space-evenly;
        }

        li {
          font-size: 12px;
          margin: 0 !important;
          text-transform: capitalize;
          white-space: nowrap;

          a {
            display: block;
            width: 100%;
            position: relative;
            text-decoration: none !important;
            white-space: pre-wrap;
            word-wrap: break-word;
            word-break: break-all;
            white-space: normal;
          }

          &:last-child {
            border-bottom: 0;
          }
        }

        &.sideMenuLeft,
        &.sideMenuRight {
          li {
            padding: 5px;
          }
        }
      }
    }
  }
}

.video-section {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
  overflow: hidden;

  @media only screen and (max-width: 767px) {
    margin: 0;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    margin-top: -3px;
  }

  .banner-img {
    opacity: 0.8;
    object-fit: cover;
  }
}

// for about page
.nameHeading {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background: var(--app-theme-color);
  opacity: 0.8;
  padding: 10px 0;

  .skillset {
    color: var(--app-theme-bg-color);
  }

  @media (max-width: 767px) {
    position: fixed;
  }
}

@media (max-width: 767px) {
  .nameHeading {
    left: 0;
    width: 100%;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .nameHeading {
    right: 0%;
    left: auto;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .nameHeading {
    right: 0%;
    left: auto;
  }
}

.videoTag {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
  video {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
  }
}
.dropdown-toggle::after {
  display: none !important;
}

.globalHeader {
  padding: 2.5px 15px 2.5px 5px;
  user-select: none;
  z-index: 10000;
  &-dark {
    background-color: #3c3f41;
    &.opac {
      background-color: var(--bs-dark);
    }
    @include view-desktop-large {
      background-color: #3c3f41;
    }
    @include view-desktop {
      background-color: #3c3f41;
    }
    @include view-tablet-landscape {
      background-color: #3c3f41;
    }
  }
  &-light {
    background-color: rgba(var(--bs-white-rgb), 1);
    @include view-desktop-large {
      background-color: rgba(var(--bs-white-rgb), 1);
    }
    @include view-desktop {
      background-color: rgba(var(--bs-white-rgb), 1);
    }
    @include view-tablet-landscape {
      background-color: rgba(var(--bs-white-rgb), 1);
    }
  }
  .gIcon {
    font-size: 35px;
    cursor: pointer;
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .userImage {
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }

  .welcomeText {
    padding: 0 5px;
    font-size: 12px;
    @include ellipsis();
  }

  .labelText {
    font-size: 12px;
    cursor: pointer;
  }

  .social-icons {
    font-size: 14px;
    color: inherit;
  }

  .dropdown {
    .dropdown-menu {
      padding: 0;
      width: 200px;

      a {
        display: inline-block;
        padding-left: 0;
        padding-top: 0;
        border-bottom: none;
        font-size: 1.2rem;
        word-break: break-word;
        width: 100%;
        text-decoration: none;
        font-size: 12px;
        padding-right: 0;

        &:hover,
        &:focus,
        &:active {
          background-color: transparent;
        }
      }
    }

    .dropdown-item {
      padding: 0.5rem 0;
      color: inherit;

      &:first-child {
        padding-top: 10px;
      }

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        color: inherit;
        background-color: inherit;
      }
    }
  }
}

.google {
  button {
    border-radius: 50% !important;
    background: transparent;
    width: 35px;
    height: 35px;
    outline: 0;
    display: inline-block !important;
    box-shadow: none !important;
    font-size: inherit;

    div {
      background: transparent !important;
      padding: 5px !important;
      margin-right: 0 !important;
    }
  }
}

.galleryContainer {
  .leftPane {
    padding-right: 0;
    padding-left: 0;

    .listContainer {
      padding: 0 0 25px 0;
      max-height: 75vh;
      overflow: auto;

      .ul {
        padding-left: 10px;
        list-style: none;

        .li {
          cursor: pointer;
          padding: 2px 0;
        }
      }

      .icon {
        padding-right: 5px;
        color: #aaa;
      }

      .rc-tree {
        .rc-tree-treenode {
          user-select: none;
          .rc-tree-title {
          }
        }

        .rc-tree-node-selected {
          box-shadow: none;
          background-color: transparent;
          border-left: solid 3px var(--app-theme-bg-color);
          padding-left: 5px;
        }
      }
    }
  }

  .rightPane {
    @include fixedScrollHeight;
    padding: 0;

    .header {
      .breadCrumb {
        display: table;
        align-items: center;

        .breadButton {
          font-size: 12px;
          outline: 0;
          border: 0;
          padding: 2px 10px;
          color: $black-color;
          border-radius: 50px;
          margin: 8px 0;
          white-space: nowrap;
        }

        .breadIcon {
          margin: 3px 9px;
          font-size: 20px;
          vertical-align: middle;
        }
      }
    }

    .viewButtons {
      font-size: 16px;
      cursor: pointer;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    .tableGrid {
      .headerGrid {
        padding: 5px 0;
        display: grid;
        grid-template-columns: 60% 40%;
        justify-content: space-between;
        justify-items: stretch;
        align-items: center;
        font-size: 12px;
        .input-group-text {
          max-width: 200px;
          border: 0;
          cursor: pointer;
          @include ellipsis();

          @media (max-width: 768px) {
            max-width: 100px;
          }

          @media (min-width: 768px) and (max-width: 991px) {
            max-width: 100px;
          }

          @media (min-width: 992px) and (max-width: 1199px) {
            max-width: 100px;
          }
        }

        .dirLabel {
          @include ellipsis;
        }
      }

      .gridWrapper {
        font-size: 12px;
        overflow: auto;
        .responsive-gallery-grid {
          display: grid;

          &.table-grid {
            grid-template-columns: repeat(4, 23%);
            column-gap: 20px;
            row-gap: 20px;
            overflow: hidden;
            padding: 10px;
            @media (max-width: 768px) {
              grid-template-columns: repeat(1, 100%);
            }

            @media (min-width: 768px) and (max-width: 991px) {
              grid-template-columns: repeat(2, 48%);
            }

            @media (min-width: 992px) and (max-width: 1199px) {
              grid-template-columns: repeat(2, 49%);
            }
            img {
              width: 100px;
              height: 100px;
              border-radius: 100%;
            }
            .mediaIcon {
              width: 100px;
              height: 100px;
              font-size: 30px;
            }
          }

          &.list-grid {
            grid-template-columns: auto;
            row-gap: 1px;
            @media (max-width: 768px) {
              min-width: 200vw;
            }
            .mediaIcon {
              width: 50px;
              height: 50px;
            }
          }
          .mediaIcon {
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            cursor: pointer;
            svg {
              width: 50px;
              height: 50px;
              cursor: inherit;
            }
          }
          .thumbnail-height {
            display: grid;
            align-items: center;
            margin: auto;
            padding: 10px;
          }

          .copyable {
            padding: 5px;
            display: flex;
            align-items: center;
            column-gap: 5px;
            justify-content: start;
            &.info {
              background: transparent;
            }

            .ellipsis {
              @include ellipsis;
            }
          }

          .child {
            display: grid;

            &:first-child {
              border-left: 0;
            }

            &.table-child {
              grid-template-columns: 100%;
              border-radius: 15px;
              padding: 5px;
              &-dark {
                box-shadow: 0 0 10px 0px $white-color;
              }
              &-light {
                box-shadow: 0 0 10px 0px $grey-color;
              }
            }

            &.list-child {
              grid-template-columns: 10% 30% 30% 30%;
              align-items: center;
              img {
                width: 50px;
                border-radius: 100%;
                height: 50px;
              }
              .thumbnail-height {
                padding: 5px;
              }
            }
          }
        }
      }
    }
  }
}
.progress {
  background-color: var(--app-theme-color);
  height: 2px;

  .progress-bar {
    background-color: var(--app-theme-bg-color);
    border-color: var(--app-theme-bg-color);
    height: 2px;
    -webkit-transition: width 1s;
    transition: width 1s;
  }
}
.dropZone {
  position: relative;
  font-size: 12px;
  .dropZoneWrapper {
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
    border: dotted 5px $grey-color;
    margin: 10px;
    &.disabled {
      cursor: not-allowed;
      opacity: 0.65;
    }
    div {
      color: var(--app-theme-color);
      background-color: var(--app-theme-bg-color);
      border-radius: 20px;
      padding: 10px;
    }
  }

  .upload-error {
    color: $red-color;
  }

  .upload-success {
    color: $green-color;
  }

  .border-success {
    border: dashed 3px $green-color;
    margin: 10px auto;
    width: 95%;
  }

  .border-danger {
    border: dashed 3px $red-color;
    margin: 10px auto;
    width: 95%;
  }

  .progressWrapper {
    padding-top: 5px;

    .gridLabels {
      display: grid;
      grid-template-columns: 80% 20%;

      * {
        @include ellipsis;
      }
    }
  }
}

.smallDropZone {
  border: 3px $grey-color dotted;
}

.wizard {
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
}

.reactive-form {
  textarea {
    resize: none;
  }

  .password {
    position: relative;
  }

  .help {
    position: absolute;
    top: -3px;
    right: 3px;
    padding: 0;
    border: 0;
  }

  i {
    cursor: pointer;

    &.eye {
      position: absolute;
      right: 5px;
      top: 35px;
      color: $black-color;
      cursor: pointer;
    }
  }
}

// print options
@media print {
  .col-lg-1,
  .col-md-1,
  .col-sm-1,
  .col-1 {
    width: 8.33;
  }

  .col-lg-2,
  .col-md-2,
  .col-sm-2,
  .col-2 {
    width: 16.67%;
  }

  .col-lg-3,
  .col-md-3,
  .col-sm-3,
  .col-3 {
    width: 25%;
  }

  .col-lg-4,
  .col-md-4,
  .col-sm-4,
  .col-4 {
    width: 33.33%;
  }

  .col-lg-5,
  .col-md-5,
  .col-sm-5,
  .col-5 {
    width: 41.66%;
  }

  .col-lg-6,
  .col-md-6,
  .col-sm-6,
  .col-6 {
    width: 50%;
  }

  .col-lg-7,
  .col-md-7,
  .col-sm-7,
  .col-7 {
    width: 58.33%;
  }

  .col-lg-8,
  .col-md-8,
  .col-sm-8,
  .col-8 {
    width: 66.66%;
  }

  .col-lg-9,
  .col-md-9,
  .col-sm-9,
  .col-9 {
    width: 75%;
  }

  .col-lg-10,
  .col-md-10,
  .col-sm-10,
  .col-10 {
    width: 83.33%;
  }

  .col-lg-11,
  .col-md-11,
  .col-sm-11,
  .col-11 {
    width: 91.66%;
  }

  .col-lg-12,
  .col-md-12,
  .col-sm-12,
  .col-12 {
    width: 100%;
  }

  .print-visible {
    display: block !important;
  }

  .wrapper.toggleOff {
    padding-left: 0;
  }
}

// Account planner
.accountPlanner {
  .bigWidth {
    overflow-x: auto;
    margin-top: 1rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  .heading {
    position: relative;

    .title {
      width: 100%;
      text-align: center;
    }
  }

  .static {
    font-weight: bold;
  }

  .fa {
    &.success,
    &.danger {
      cursor: pointer;
      // font-size: 2rem;
    }

    &.danger {
      color: $red-color;
    }
  }

  .buttonGrid {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 5px 0;
    align-items: center;
    padding: 10px 0;
  }
  svg {
    text {
      font-size: 12px;
      cursor: pointer;
    }
  }
  &.dark {
    svg {
      text {
        fill: #fff;
        &.colored {
          fill: var(--app-theme-bg-color);
        }
      }
    }
  }

  &.light {
    svg {
      text {
        fill: #000;
        &.colored {
          fill: var(--app-theme-bg-color);
        }
      }
    }
  }

  .roundedIcon {
    border: solid 1px var(--app-theme-bg-color);
    color: var(--app-theme-color);
    border-radius: 100%;
    padding: 0.5rem;
    cursor: pointer;
    display: inline-block;
  }

  .list-group-item {
    border: 0;
  }

  .dropdown-menu {
    padding: 0;
    width: 100%;

    a {
      display: inline-block;
      padding-left: 0.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom: solid 1px $border-grey;
      word-break: break-word;
      width: 100%;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .superScript {
    margin-left: 0.5rem;
    min-width: 25px;
    border-radius: 12px;
    border: solid 1px #333;
    padding: 5px;
    font-size: 0.8rem;
    display: inline-block;
    line-height: 1;
  }

  .dropdown {
    &.show {
      .btn {
        i.fa {
          transform: rotate(-90deg);
        }
      }
    }

    .btn {
      &:active:focus {
        color: var(--app-theme-color) !important;
        background-color: var(--app-theme-bg-color) !important;
      }

      i.fa {
        transition-property: transform;
        transition-duration: 0.5s;
        font-size: 0.75rem;
        position: absolute;
        right: 1rem;
        top: 0.8rem;
      }

      &:after {
        display: none;
      }
    }
  }
}

.cardWrapper {
  padding: 2rem;
  cursor: pointer;
  &:hover,
  &.active {
    color: var(--app-theme-bg-color);
  }
  .fa {
    font-size: 1rem;
    display: block;
  }
}

.planInfoModal {
  .table {
    min-width: 60rem;

    th,
    td {
      padding: 0.5rem 0;
      border: 0;
    }

    tr {
      &:last-child {
        border-top: 1px $grey-color solid;
        border-bottom: 4px $grey-color double;
      }
    }
  }
}

.fastShopping {
  user-select: none;

  .overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 30px;
  }

  .numPads {
    display: grid;
    word-wrap: break-word;
    word-break: break-all;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    user-select: none;

    .buttonContainer {
      &:last-child {
        grid-column-end: 3;
      }

      button {
        border: 0;
        color: var(--app-theme-color);
        font-size: 20px;
        outline: 0;
        background: var(--app-theme-bg-color);
        padding: 0;
        border-radius: 100%;
        width: 40px;
        height: 40px;

        &:disabled {
          cursor: not-allowed;
        }

        &:active {
          opacity: 0.8;
        }
      }
    }
  }

  .input-group-addon {
    padding: 0 5px;
  }

  .switchLabel {
    padding: 2px 5px 2px 5px;
    font-size: 14px;
    font-weight: 100;
    color: #000;
    cursor: pointer;

    &.white {
      color: #ccc;
      line-height: 1.3;
    }
  }

  .btn-block {
    font-weight: 500;
  }

  .flex {
    justify-content: space-between;
  }

  i.fa {
    font-size: 20px;
    cursor: pointer;

    &.debit {
      color: var(--app-theme-bg-color);
    }

    &.credit {
      color: $red-color;
    }
  }
}

.tallyModal {
  .custom-progress-bar {
    height: 5px;
    border-radius: 5px;
    transition-property: width;
    transition-duration: 1s;

    &.danger {
      background: $red-color;
    }

    &.success {
      background: var(--app-theme-bg-color);
    }
  }
}

.totalHoldings {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin: 15px 0;
  align-items: center;
  row-gap: 5px;

  .total {
    border-top: solid 1px var(--app-theme-bg-color);
    border-bottom: double 3px var(--app-theme-bg-color);
  }

  .noData {
    grid-column: 2 span / 3;
    text-align: center;
  }
}

.floatingChartWrapper {
  position: relative;

  .floatingChartHeader {
    transform: rotate(270deg);
    position: absolute;
    left: -17px;
    top: -10px;
    font-size: 12px;

    &.hidden {
      display: none;
    }
  }
}

.creditCardModal {
  .separatorWrapper {
    .input-group-addon {
      background: var(--app-theme-bg-color);
      border: solid 1px var(--app-theme-bg-color);
      padding: 0.25rem 0.75rem;
    }
  }

  .textArea {
    width: 100%;
    resize: none;
    border: solid 1px #aaa;
    border-radius: 5px;
    height: 200px;
    overflow-y: auto;
    padding: 1rem;
    outline: 0;
  }

  .tableGrid {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .input {
    border: solid 1px $grey-color;
  }

  .heading {
    text-align: center;
    font-weight: 500;
  }

  .singleLines {
    grid-column: 1 / -1;

    .cell {
      background: transparent;
      padding: 0 5px;
      border-radius: 15px;
      margin-right: 5px;
      font-size: 14px;
      border: solid 1px #999;
      display: inline-block;
      margin-bottom: 5px;
      margin-top: 5px;
      cursor: move;
      color: #999;
      user-select: none;

      i {
        margin-left: 5px;
        cursor: pointer;
      }

      &.danger {
        cursor: pointer;
        color: $red-color;
        border: solid 1px $red-color;

        i {
          margin-left: 0;
        }
      }
    }
  }
}

.passwordArea {
  position: relative;

  i {
    position: absolute;
    right: 9px;
    top: 10px;
    color: var(--app-theme-color);
    cursor: pointer;

    &.good {
      color: var(--app-theme-bg-color);
    }

    &.bad {
      color: $red-color;
    }
  }
}

.modal-content {
  border: 0;
  background-color: transparent;
  box-shadow: 0px 0px 15px $black-color;
  .modal-header {
    display: flex;
    background: var(--app-theme-bg-color);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: none;

    .modal-title {
      font-size: 1rem;
    }

    .close {
      border: 0;
      color: var(--app-theme-color);
      width: 28px;
      height: 28px;
      border-radius: 100%;
    }
  }

  .modal-body {
    .card {
      .card-header {
        .btn {
          padding: 13px 15px;
        }
      }

      &:last-child {
        .card-header {
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }
    }
    .modalVideo {
      video {
        border-radius: 10px;
      }
    }
  }
}

// utils
.cursor-pointer {
  cursor: pointer !important;
}
.cursor-not-allowed {
  cursor: not-allowed !important;
}

.relativeSpinner {
  text-align: center;
  padding: 1rem;
  width: 100%;
  &.middle {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.roundedButton {
  font-size: 1rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 100%;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  &.light {
    border: solid 1px $black-five;
    color: $black-five;
  }
  &.dark {
    border: solid 1px $grey-color;
    color: $grey-color;
  }
}

// scrollbar styles
::-webkit-scrollbar {
  height: 2px;
  width: 3px;
  background: var(--app-theme-color);
}

::-webkit-scrollbar-thumb {
  background: var(--app-theme-bg-color);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: $black-color;
}

.rc-tree {
  font-size: 12px;
  .rc-tree-treenode {
    user-select: none;
  }
}

.rangeslider {
  margin: 10px 0;
}
.rangeslider-horizontal {
  height: 5px;

  .rangeslider__fill {
    background-color: var(--app-theme-bg-color);
  }

  .rangeslider__handle {
    width: 20px;
    height: 20px;
    border-radius: 20px;

    &:after {
      background-color: var(--app-theme-bg-color);
      width: 10px;
      height: 10px;
      top: 4px;
      left: 4px;
    }
  }
}

.line-chart-tooltip {
  position: fixed;
  text-align: center;
  padding: 5px;
  font: 12px sans-serif;
  color: #000;
  background: #dddddd;
  border: 0;
  pointer-events: none;
  border-radius: 5px;
  opacity: 0;
}

.rangeslider-horizontal .rangeslider__fill {
  background-color: var(--app-theme-bg-color) !important;
}

.facebook-container {
  padding: 0;
  background: transparent;
  border: 0;
}

.card {
  &.bg-white {
    --bs-card-cap-bg: unset;
  }
}
.offcanvas {
  &.bg-dark {
    .btn-close {
      background: transparent
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
        center/1em auto no-repeat;
    }
  }
  &.bg-white {
    .btn-close {
      background: transparent
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
        center/1em auto no-repeat;
    }
  }
}
.loginScreen {
  background-position: center;
  background-size: center;
  background-repeat: no-repeat;
  @include view-desktop {
    // background-size: 65%;
  }
  @include view-desktop-large {
    // background-size: 50%;
  }
  .formArea {
    opacity: 0.95;
    height: 100%;
    @include view-mobile {
      height: auto;
    }
    @include view-tablet-potrait {
      height: auto;
    }
    .p-absolute {
      position: absolute;
      @include view-tablet-potrait {
        position: inherit;
      }
    }
  }
}
.darkBoxShadow {
  box-shadow: 0px 0px 5px $black-color;
}
.lightBoxShadow {
  // box-shadow: 0px 0px 5px $white-color-mild;
  border: solid 1px $border-grey;
}
.dashboardCard {
  min-height: 200px;
  height: 200px;
  width: 100%;
}
.w-50px {
  width: 50px;
}
.chart-container {
  width: 100%;
  background-color: transparent;
  background-size: 15px 15px;
  overflow: auto;
  &-light {
    background-image: linear-gradient($dim-white-color 1px, transparent 1px), linear-gradient(to right, $dim-white-color 1px, transparent 1px);
  }
  &-dark {
    background-image: linear-gradient($black-three 1px, transparent 1px), linear-gradient(to right, $black-three 1px, transparent 1px);
  }
  &.topMenu {
    height: calc(100vh - 193px) !important;
  }
  &.sideMenuLeft,
  &.sideMenuRight {
    height: calc(100vh - 135px) !important;
  }
  .react-draggable {
    .chartHandleBL,
    .chartHandleBR,
    .chartHandleTL,
    .chartHandleTR {
      display: none;
    }
    &:hover {
      .chartHandleBL,
      .chartHandleBR,
      .chartHandleTL,
      .chartHandleTR {
        display: inline;
      }
    }
  }
}
.noScroll::-webkit-scrollbar {
  display: none;
}
.noScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.form-check-input:checked {
  background-color: var(--app-theme-color);
  border-color: var(--app-theme-bg-color);
}
.chart-container {
  .highlightedChart {
    display: inline-block;
    z-index: 1;
    &.light {
      box-shadow: 0px 0 10px #999999;
    }
    &.dark {
      box-shadow: 0px 0 10px #000000;
    }
  }
}
.workbook {
  .topMenu {
    height: calc(100vh - 159px);
  }
  .sideMenuLeft,
  .sideMenuRight {
    height: calc(100vh - 100px);
  }
  .toggleDropdown {
    &::after {
      display: none;
    }
  }
  .btn:disabled {
    cursor: not-allowed;
  }
  .graphList {
    width: calc(10% - 40px);
    border-top-left-radius: 5px;
    @include view-tablet-landscape {
      width: calc(10% - 0px);
    }
    @include view-tablet-potrait {
      width: calc(10% - 0px);
    }
  }
}
.draggable {
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}
.react-calendar__month-view__weekdays__weekday {
  color: #000;
}

.receipt {
  $triangle-size: 10px;
  $stop1: $triangle-size * 1.45;
  $stop2: $triangle-size * 0.7;
  $stop1r: $stop1 + 0.05;
  $stop2r: $stop2 + 0.05;
  $bg: var(--theme-color);
  background:
    linear-gradient(135deg, transparent #{$stop1}, $bg #{$stop1r}) top left,
    linear-gradient(45deg, $bg #{$stop2}, transparent #{$stop2r}) top left,
    linear-gradient(135deg, $bg #{$stop2}, transparent #{$stop2r}) bottom left,
    linear-gradient(45deg, transparent #{$stop1}, $bg #{$stop1r}) bottom left;
  background-repeat: repeat-x;
  background-size: ($triangle-size * 2) $triangle-size;
  padding: $triangle-size 0;
}
.form-control::placeholder {
  color: var(--bs-secondary);
  font-style: italic;
  font-size: 0.75rem;
}
.form-control:focus {
  border-color: $border-grey;
}
.Toastify {
  .Toastify__toast-container {
    &.Toastify__toast-container--top-right {
      transform: translateY(50px);
    }
    .Toastify__toast {
      font-size: 0.8rem;
      color: #fff;

      &.Toastify__toast--success {
        background: var(--app-theme-bg-color);
        color: var(--app-theme-color);
      }

      i {
        &:before {
          margin-left: 0;
          font-size: 16px;
        }

        &.trash {
          position: absolute;
          right: 7px;
        }
      }

      a {
        color: #fff;
        text-decoration: underline !important;
      }
    }
  }
}
.signUp {
  .menuList {
    list-style: none;
    background: $half-white;
    height: calc(100vh - 56px);
    @include view-mobile {
      height: auto;
    }
    @include view-tablet-potrait {
      height: auto;
    }
  }
  .wrapper {
    // height: 100vh;
    position: relative;
    overflow: auto;
  }
  .line {
    height: 25px;
    border-left: 3px dotted $grey-color;
    margin: 5px 15px;
    padding: 0 5px;
  }
  .stepNumber {
    width: 2rem;
    height: 2rem;
  }
}
.table {
  &.table-responsive-width {
    @include view-mobile {
      width: 300%;
    }
    @include view-tablet-landscape {
      width: 150%;
    }
    @include view-tablet-potrait {
      width: 200%;
    }
  }
}
.chat-left-bubble {
  position: relative;
  border-radius: 0.4em;
  max-width: 75%;
  &.dark {
    box-shadow: 0px 5px 20px $black-color;
  }
  &.light {
    box-shadow: 0px 5px 20px $grey-color;
  }
  &::after {
    content: "";
    position: absolute;
    right: 1px;
    bottom: 0%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right: 0;
    border-bottom: 0;
    margin-top: 0;
    margin-right: -9px;
    margin-bottom: -3px;
    transform: rotate(20deg);
  }
  &.dark {
    &::after {
      border-left-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1));
    }
  }
  &.light {
    &::after {
      border-left-color: RGBA(var(--bs-light-rgb), var(--bs-bg-opacity, 1));
    }
  }
}
.chat-right-bubble {
  position: relative;
  border-radius: 0.4em;
  max-width: 75%;
  &.isChart {
    width: 75%;
  }
  &.dark {
    box-shadow: 0px 5px 20px $black-color;
  }
  &.light {
    box-shadow: 0px 5px 20px $grey-color;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 0;
    border-left: 0;
    margin-left: -2px;
    margin-bottom: -7px;
    transform: rotate(20deg);
  }
  &.dark {
    &::after {
      border-top-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1));
    }
    &.bg-danger {
      &::after {
        border-top-color: RGBA(var(--bs-danger-rgb), var(--bs-bg-opacity, 1));
      }
    }
  }
  &.light {
    &::after {
      border-top-color: RGBA(var(--bs-light-rgb), var(--bs-bg-opacity, 1));
    }
    &.bg-danger {
      &::after {
        border-top-color: RGBA(var(--bs-danger-rgb), var(--bs-bg-opacity, 1));
      }
    }
  }
  .chat-carousel {
    .carousel-control-prev,
    .carousel-control-next {
      top: auto;
    }
  }
}
.shadow {
  &-dark {
    box-shadow: 0px 0px 10px $black-color;
  }
  &-light {
    box-shadow: 0px 0px 10px $grey-color;
  }
}
.ledgerelyAiWrapper {
  .historyWrapper,
  .samplePromptWrapper {
    &.sideMenuLeft,
    &.sideMenuRight {
      height: calc(100vh - 135px) !important;
    }
    &.topMenu {
      height: calc(100vh - 190px) !important;
    }
  }
}
.appFooter {
  width: 100px;
  font-size: 0.7rem;
  right: 0;
  bottom: 0;
  @include view-mobile {
    left: 40%;
    width: 100px;
  }
}
.ai-tooltip-big-width .tooltip-inner {
  max-width: 375px;
  width: auto;
  text-align: left;
  word-break: break-word;
}
