$text-color: #000;
$bg-black: #000;
$grey-color: #aeaeae;
$black-color: #000;
$black-one: #111;
$black-two: #222;
$black-three: #333;
$black-four: #444;
$black-five: #555;
$white-color: #fff;
$dim-white-color: #e3e3e3;
$white-color-mild: #aaa;
$border-grey: #ddd;
$red-color: #f35050;
$green-color: #40bd40;
$half-white: #f3f3f3;
